h1 {
  color: red;
}

h2 {
  text-decoration: underline;
}

h2:first-of-type {
  color: #ADADAD;
}

h2:nth-of-type(2) {
  color: #8E8E8E;
}

h2:nth-of-type(3) {
  color: #666666;
}

h2:nth-of-type(4) {
  color: #333333;
}

p {
  font-style: italic;
}
.franky {
  background: green;
  color: white;
}

.avi {
  background: #00ffff;
}

.tony {
  background: #ae3d1b;
  color: #86f429;
}

.boris {
  background: #82ff2a;
  color: #af6020;
}

ol {
  list-style: upper-roman;
}

ol .benicio {
  background: #006a03;
  color: grey;
}

ol .denis {
  background: #00ffff;
  color: blue;
}

ol .vinnie {
  background: red;
  color: #87ee29;
}

ol .rade {
  background: #82ff2a;
  color: #af481e;
}

ul {
  list-style: upper-roman;
}

li a {
  color: green;
  text-decoration: none;
  text-transform: uppercase;
}
