/* 
@author: Francisco Fernández Navarro
#date: 25 d'octubre de 2024 
*/

/* Sintaxis de CSS */

/* 
  selector {
    propiedad: valor;
  }
*/

/* Selector Universal -> Se aplica a todo el contenido */
* {
  background-color: azure;
}

/* Selector por etiqueta */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  /* 1.5em -> Proporcional */
  font-weight: normal;
  /* Grosor de la letra */
  font-style: italic;
  /* Estilo de la letra */
  letter-spacing: 0.2em;
  /* Espacio entre las letras */
  line-height: 1em;
  /* Espacio entre las lineas */
  text-decoration: underline;
  /* Estilos en el texto */
  text-align: center;
  /* Alineacion del texto */

  /* Propiedad para colores 
      Valor Hexadecimal -> #00ff00
      Valor RGB -> rgb(214, 122, 127)
      Valor RGBA (alfa) -> rgba(214, 122, 126, 0.5)
  */

  color: #00ff00;

  /* Propiedad para colores y fondos 
      background-color -> Color de fondo del elemento
      background-image -> Usa una imagen de fondo
      background-repeat -> Usa una imagen de fondo como mosaico
      opacity -> Opacidad del elemento
  */

  background-color: green;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 75%;
}
